In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv(r"C:\Users\Sashank\Downloads\RDBMS IA2 FOLDER\HCLTECH.csv")

In [3]:
df

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-11,HCLTECH,EQ,580.00,1550.00,1725.00,1492.00,1560.00,1554.45,1582.72,1192200,1.886915e+14,NaN,NaN,NaN
1,2000-01-12,HCLTECH,EQ,1554.45,1560.00,1678.85,1560.00,1678.85,1678.85,1657.05,344850,5.714349e+13,NaN,NaN,NaN
2,2000-01-13,HCLTECH,EQ,1678.85,1790.00,1813.20,1781.00,1813.20,1813.20,1804.69,53000,9.564880e+12,NaN,NaN,NaN
3,2000-01-14,HCLTECH,EQ,1813.20,1958.30,1958.30,1835.00,1958.30,1958.30,1939.90,270950,5.256169e+13,NaN,NaN,NaN
4,2000-01-17,HCLTECH,EQ,1958.30,2115.00,2115.00,1801.65,1801.65,1801.65,1990.55,428800,8.535473e+13,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5276,2021-03-24,HCLTECH,EQ,980.85,971.05,984.75,965.80,974.55,975.65,977.25,3874331,3.786179e+14,88387.0,1527159.0,0.3942
5277,2021-03-25,HCLTECH,EQ,975.65,970.00,974.50,950.00,962.00,957.05,965.24,4879437,4.709829e+14,110892.0,2225205.0,0.4560
5278,2021-03-26,HCLTECH,EQ,957.05,965.00,975.00,953.80,960.00,958.55,962.80,4271178,4.112272e+14,96782.0,2107168.0,0.4933
5279,2021-03-30,HCLTECH,EQ,958.55,965.00,1000.80,964.45,995.10,995.80,986.21,5475051,5.399551e+14,121367.0,2381501.0,0.4350
5280,2021-03-31,HCLTECH,EQ,995.80,1000.00,1000.00,978.65,984.10,982.65,988.70,4445140,4.394923e+14,91412.0,1481223.0,0.3332

In [4]:
df.describe()

,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
count,5281.000000,5281.000000,5281.000000,5281.000000,5281.000000,5281.000000,5281.000000,5.281000e+03,5.281000e+03,2437.000000,4.778000e+03,4778.000000
mean,640.877485,641.782361,653.029445,629.240598,641.018273,640.953730,641.276230,1.625228e+06,1.054017e+14,64435.360689,8.050057e+05,0.504501
std,411.875435,413.427497,420.474999,404.537288,411.964913,411.901431,412.224647,2.155855e+06,1.673140e+14,45992.452295,9.223569e+05,0.177329
min,89.700000,87.100000,94.750000,86.650000,89.000000,89.700000,91.440000,8.500000e+02,5.092228e+10,482.000000,3.095000e+03,0.045600
25%,313.700000,315.000000,322.000000,307.500000,314.000000,313.700000,314.500000,5.898370e+05,2.164816e+13,35730.000000,2.664718e+05,0.380000
50%,528.750000,529.800000,540.000000,518.600000,530.000000,528.750000,529.800000,1.033819e+06,4.779557e+13,54897.000000,5.344080e+05,0.529950
75%,890.650000,889.000000,903.000000,878.100000,890.650000,890.650000,892.000000,1.762759e+06,1.297174e+14,80034.000000,9.758938e+05,0.636300
max,2819.150000,2825.000000,2998.000000,2760.500000,2805.000000,2819.150000,2883.950000,3.231253e+07,2.532038e+15,463474.000000,1.973903e+07,1.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5281 entries, 0 to 5280
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                5281 non-null   object
 1   Symbol              5281 non-null   object
 2   Series              5281 non-null   object
 3   Prev Close          5281 non-null   float64
 4   Open                5281 non-null   float64
 5   High                5281 non-null   float64
 6   Low                 5281 non-null   float64
 7   Last                5281 non-null   float64
 8   Close               5281 non-null   float64
 9   VWAP                5281 non-null   float64
 10  Volume              5281 non-null   int64
 11  Turnover            5281 non-null   float64
 12  Trades              2437 non-null   float64
 13  Deliverable Volume  4778 non-null   float64
 14  %Deliverble         4778 non-null   float64
dtypes: float64(11), int64(1), object(3)
memory usage: 619.0+ KB

In [6]:
df.columns

Index(['Date', 'Symbol', 'Series', 'Prev Close', 'Open', 'High', 'Low', 'Last',
       'Close', 'VWAP', 'Volume', 'Turnover', 'Trades', 'Deliverable Volume',
       '%Deliverble'],
      dtype='object')

In [7]:
columns=['Date','Open', 'High', 'Low','Close',]
df=df[columns]

In [8]:
df

            Date     Open     High      Low    Close
0     2000-01-11  1550.00  1725.00  1492.00  1554.45
1     2000-01-12  1560.00  1678.85  1560.00  1678.85
2     2000-01-13  1790.00  1813.20  1781.00  1813.20
3     2000-01-14  1958.30  1958.30  1835.00  1958.30
4     2000-01-17  2115.00  2115.00  1801.65  1801.65
...          ...      ...      ...      ...      ...
5276  2021-03-24   971.05   984.75   965.80   975.65
5277  2021-03-25   970.00   974.50   950.00   957.05
5278  2021-03-26   965.00   975.00   953.80   958.55
5279  2021-03-30   965.00  1000.80   964.45   995.80
5280  2021-03-31  1000.00  1000.00   978.65   982.65

[5281 rows x 5 columns]

INSERTNG TECHNICAL INDICATORS

In [9]:
df.insert(5,'5-DAY_SMA',0)
df.insert(6,'14-DAY_WMA',0)
df.insert(7,'Momentum',0)
df.insert(8,'Stochastic K%',0)
df.insert(9,'Stochastic D%',0)
df.insert(10,'Relative_strength_index',0)
df.insert(11,'Signal(10)',0)
df.insert(12,'Larry_William_R%',0)
df.insert(13,'ADO',0)
df.insert(14,'CCI',0)

In [10]:
df

,Date,Open,High,Low,Close,5-DAY_SMA,14-DAY_WMA,Momentum,Stochastic K%,Stochastic D%,Relative_strength_index,Signal(10),Larry_William_R%,ADO,CCI
0,2000-01-11,1550.00,1725.00,1492.00,1554.45,0,0,0,0,0,0,0,0,0,0
1,2000-01-12,1560.00,1678.85,1560.00,1678.85,0,0,0,0,0,0,0,0,0,0
2,2000-01-13,1790.00,1813.20,1781.00,1813.20,0,0,0,0,0,0,0,0,0,0
3,2000-01-14,1958.30,1958.30,1835.00,1958.30,0,0,0,0,0,0,0,0,0,0
4,2000-01-17,2115.00,2115.00,1801.65,1801.65,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5276,2021-03-24,971.05,984.75,965.80,975.65,0,0,0,0,0,0,0,0,0,0
5277,2021-03-25,970.00,974.50,950.00,957.05,0,0,0,0,0,0,0,0,0,0
5278,2021-03-26,965.00,975.00,953.80,958.55,0,0,0,0,0,0,0,0,0,0
5279,2021-03-30,965.00,1000.80,964.45,995.80,0,0,0,0,0,0,0,0,0,0
5280,2021-03-31,1000.00,1000.00,978.65,982.65,0,0,0,0,0,0,0,0,0,0

In [11]:
#CONVERTNG DATATYPE OF ALL THE COLUMNS
Tech_Indicators=['5-DAY_SMA','14-DAY_WMA','Momentum','Stochastic K%','Stochastic D%','Relative_strength_index','Signal(10)','Larry_William_R%','ADO','CCI']

for i in Tech_Indicators:
    df[i]=df[i].astype(float)

CALCULATING 5 DAY MOVING AVERAGE

In [12]:
n=0
sum=0
while(n!=5277):
    sum=0
    for i in range(n,n+5):
        sum=sum+df['Close'][i]
        
    df['5-DAY_SMA'][n+4]=sum/5
    n=n+1

C:\Users\Sashank\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

CALCULATING 14 DAY WEIGHTED MOVING AVERAGE

In [13]:
n=0
sum=0
k=1
while(n!=5268):
    sum=0
    for i in range(n,n+14):
        sum=sum+(i+1)*df['Close'][i]
    df['14-DAY_WMA'][n+13]=sum/105
    n=n+1

C:\Users\Sashank\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

CALCULATING MOMENTUM(10 DAY)

In [14]:
 for i in range(0,5272):
     df['Momentum'][i+9]=df['Close'][i+9]-df['Close'][i]

C:\Users\Sashank\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

calculating Stochastic K%

In [15]:
for i in range(0,5271):
    
    df['Stochastic K%'][i+9]=((df['Close'][i+9]-df.Low[i+0:i+10].min())/(df['High'][i+0:i+10].max()-df.Low[i+0:i+10].min()))*100
        

df['Stochastic K%'][5280]=((df['Close'][5280]-df.Low[5270:5280].min())/(df['High'][5270:5280].max()-df.Low[5270:5280].min()))*100

C:\Users\Sashank\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Sashank\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

calculating stochastic D%

In [16]:
n=0
sum=0
while(n!=5279):
    sum=0
    for i in range(n,n+3):
        sum=sum+df['Stochastic K%'][i]
        
    df['Stochastic D%'][n+2]=(sum/3)
    n=n+1

C:\Users\Sashank\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [17]:
df[0:12]

,Date,Open,High,Low,Close,5-DAY_SMA,14-DAY_WMA,Momentum,Stochastic K%,Stochastic D%,Relative_strength_index,Signal(10),Larry_William_R%,ADO,CCI
0,2000-01-11,1550.00,1725.00,1492.00,1554.45,0.00,0.0,0.00,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
1,2000-01-12,1560.00,1678.85,1560.00,1678.85,0.00,0.0,0.00,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
2,2000-01-13,1790.00,1813.20,1781.00,1813.20,0.00,0.0,0.00,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
3,2000-01-14,1958.30,1958.30,1835.00,1958.30,0.00,0.0,0.00,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
4,2000-01-17,2115.00,2115.00,1801.65,1801.65,1761.29,0.0,0.00,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
5,2000-01-18,1730.55,1815.00,1657.55,1774.50,1805.30,0.0,0.00,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
6,2000-01-19,1815.00,1889.00,1760.00,1851.15,1839.76,0.0,0.00,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
7,2000-01-20,1865.00,1865.00,1750.00,1757.85,1828.69,0.0,0.00,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
8,2000-01-21,1761.00,1815.00,1705.00,1781.35,1793.30,0.0,0.00,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
9,2000-01-24,1834.90,1923.90,1795.00,1923.90,1817.75,0.0,369.45,69.325843,23.108614,0.0,0.0,0.0,0.0,0.0
10,2000-01-25,1990.00,2077.85,1990.00,2077.85,1878.42,0.0,399.00,93.306306,54.210716,0.0,0.0,0.0,0.0,0.0
11,2000-01-27,2239.90,2239.90,1965.00,2080.60,1924.31,0.0,267.40,72.645316,78.425822,0.0,0.0,0.0,0.0,0.0

LARRY WILLIAM R%

In [18]:
for i in range(0,5271):
    df['Larry_William_R%'][i+9]=((df.High[i+0:i+10].max()-df['Close'][i+9])/(df['High'][i+0:i+10].max()-df.Low[i+0:i+10].min()))*100
        

df['Larry_William_R%'][5280]=((df.High[5270:5280].max()-df['Close'][5280])/(df['High'][5270:5280].max()-df.Low[5270:5280].min()))*100

C:\Users\Sashank\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Sashank\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

Calculating ADO

In [19]:
for i in range(0,5281):
    df['ADO'][i]=(df['High'][i]-df['Close'][i])/(df['High'][i]-df['Low'][i])

C:\Users\Sashank\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Sashank\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in double_scalars

In [20]:
df

,Date,Open,High,Low,Close,5-DAY_SMA,14-DAY_WMA,Momentum,Stochastic K%,Stochastic D%,Relative_strength_index,Signal(10),Larry_William_R%,ADO,CCI
0,2000-01-11,1550.00,1725.00,1492.00,1554.45,0.00,0.000000,0.00,0.000000,0.000000,0.0,0.0,0.000000,0.731974,0.0
1,2000-01-12,1560.00,1678.85,1560.00,1678.85,0.00,0.000000,0.00,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0
2,2000-01-13,1790.00,1813.20,1781.00,1813.20,0.00,0.000000,0.00,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0
3,2000-01-14,1958.30,1958.30,1835.00,1958.30,0.00,0.000000,0.00,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0
4,2000-01-17,2115.00,2115.00,1801.65,1801.65,1761.29,0.000000,0.00,0.000000,0.000000,0.0,0.0,0.000000,1.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5276,2021-03-24,971.05,984.75,965.80,975.65,968.69,684304.312381,-12.85,47.267760,50.291439,0.0,0.0,52.732240,0.480211,0.0
5277,2021-03-25,970.00,974.50,950.00,957.05,970.55,684384.292381,-22.20,26.939891,42.386157,0.0,0.0,73.060109,0.712245,0.0
5278,2021-03-26,965.00,975.00,953.80,958.55,970.17,685367.034762,-33.80,28.579235,34.262295,0.0,0.0,71.420765,0.775943,0.0
5279,2021-03-30,965.00,1000.80,964.45,995.80,973.58,687199.973810,-11.45,69.289617,41.602914,0.0,0.0,30.710383,0.137552,0.0
5280,2021-03-31,1000.00,1000.00,978.65,982.65,973.94,687807.531905,-4.80,54.918033,50.928962,0.0,0.0,45.081967,0.812646,0.0

CALCULATING RELATIVE STRENGTH INDEX(RSI)

In [21]:
df.insert(10,'U',0.000)
df.insert(11,'D',0.000)

In [22]:
df

,Date,Open,High,Low,Close,5-DAY_SMA,14-DAY_WMA,Momentum,Stochastic K%,Stochastic D%,U,D,Relative_strength_index,Signal(10),Larry_William_R%,ADO,CCI
0,2000-01-11,1550.00,1725.00,1492.00,1554.45,0.00,0.000000,0.00,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.731974,0.0
1,2000-01-12,1560.00,1678.85,1560.00,1678.85,0.00,0.000000,0.00,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
2,2000-01-13,1790.00,1813.20,1781.00,1813.20,0.00,0.000000,0.00,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
3,2000-01-14,1958.30,1958.30,1835.00,1958.30,0.00,0.000000,0.00,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
4,2000-01-17,2115.00,2115.00,1801.65,1801.65,1761.29,0.000000,0.00,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,1.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5276,2021-03-24,971.05,984.75,965.80,975.65,968.69,684304.312381,-12.85,47.267760,50.291439,0.0,0.0,0.0,0.0,52.732240,0.480211,0.0
5277,2021-03-25,970.00,974.50,950.00,957.05,970.55,684384.292381,-22.20,26.939891,42.386157,0.0,0.0,0.0,0.0,73.060109,0.712245,0.0
5278,2021-03-26,965.00,975.00,953.80,958.55,970.17,685367.034762,-33.80,28.579235,34.262295,0.0,0.0,0.0,0.0,71.420765,0.775943,0.0
5279,2021-03-30,965.00,1000.80,964.45,995.80,973.58,687199.973810,-11.45,69.289617,41.602914,0.0,0.0,0.0,0.0,30.710383,0.137552,0.0
5280,2021-03-31,1000.00,1000.00,978.65,982.65,973.94,687807.531905,-4.80,54.918033,50.928962,0.0,0.0,0.0,0.0,45.081967,0.812646,0.0

In [23]:
df['D']=df['Close'].diff()

In [24]:
df['U']=df['Close'].diff()

In [25]:
def positive_U(val):
    if val<0:
        return 0
    
    return val
def positive_d(val):
    if val>0:
        return 0
    
    return -1*val

In [26]:
df['U']=df['U'].apply(positive_U)

In [27]:
df['D']=df['D'].apply(positive_d)

In [28]:
df['U']

0          NaN
1       124.40
2       134.35
3       145.10
4         0.00
         ...
5276      0.00
5277      0.00
5278      1.50
5279     37.25
5280      0.00
Name: U, Length: 5281, dtype: float64

In [29]:
df['D']

0          NaN
1         0.00
2         0.00
3         0.00
4       156.65
         ...
5276      5.20
5277     18.60
5278      0.00
5279      0.00
5280     13.15
Name: D, Length: 5281, dtype: float64

In [30]:
df

,Date,Open,High,Low,Close,5-DAY_SMA,14-DAY_WMA,Momentum,Stochastic K%,Stochastic D%,U,D,Relative_strength_index,Signal(10),Larry_William_R%,ADO,CCI
0,2000-01-11,1550.00,1725.00,1492.00,1554.45,0.00,0.000000,0.00,0.000000,0.000000,NaN,NaN,0.0,0.0,0.000000,0.731974,0.0
1,2000-01-12,1560.00,1678.85,1560.00,1678.85,0.00,0.000000,0.00,0.000000,0.000000,124.40,0.00,0.0,0.0,0.000000,0.000000,0.0
2,2000-01-13,1790.00,1813.20,1781.00,1813.20,0.00,0.000000,0.00,0.000000,0.000000,134.35,0.00,0.0,0.0,0.000000,0.000000,0.0
3,2000-01-14,1958.30,1958.30,1835.00,1958.30,0.00,0.000000,0.00,0.000000,0.000000,145.10,0.00,0.0,0.0,0.000000,0.000000,0.0
4,2000-01-17,2115.00,2115.00,1801.65,1801.65,1761.29,0.000000,0.00,0.000000,0.000000,0.00,156.65,0.0,0.0,0.000000,1.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5276,2021-03-24,971.05,984.75,965.80,975.65,968.69,684304.312381,-12.85,47.267760,50.291439,0.00,5.20,0.0,0.0,52.732240,0.480211,0.0
5277,2021-03-25,970.00,974.50,950.00,957.05,970.55,684384.292381,-22.20,26.939891,42.386157,0.00,18.60,0.0,0.0,73.060109,0.712245,0.0
5278,2021-03-26,965.00,975.00,953.80,958.55,970.17,685367.034762,-33.80,28.579235,34.262295,1.50,0.00,0.0,0.0,71.420765,0.775943,0.0
5279,2021-03-30,965.00,1000.80,964.45,995.80,973.58,687199.973810,-11.45,69.289617,41.602914,37.25,0.00,0.0,0.0,30.710383,0.137552,0.0
5280,2021-03-31,1000.00,1000.00,978.65,982.65,973.94,687807.531905,-4.80,54.918033,50.928962,0.00,13.15,0.0,0.0,45.081967,0.812646,0.0

In [31]:
df['Relative_strength_index']=(100)-(100/(1+(df['U'].rolling(window=10).mean()/df['D'].rolling(window=10).mean())))

In [32]:
df

,Date,Open,High,Low,Close,5-DAY_SMA,14-DAY_WMA,Momentum,Stochastic K%,Stochastic D%,U,D,Relative_strength_index,Signal(10),Larry_William_R%,ADO,CCI
0,2000-01-11,1550.00,1725.00,1492.00,1554.45,0.00,0.000000,0.00,0.000000,0.000000,NaN,NaN,NaN,0.0,0.000000,0.731974,0.0
1,2000-01-12,1560.00,1678.85,1560.00,1678.85,0.00,0.000000,0.00,0.000000,0.000000,124.40,0.00,NaN,0.0,0.000000,0.000000,0.0
2,2000-01-13,1790.00,1813.20,1781.00,1813.20,0.00,0.000000,0.00,0.000000,0.000000,134.35,0.00,NaN,0.0,0.000000,0.000000,0.0
3,2000-01-14,1958.30,1958.30,1835.00,1958.30,0.00,0.000000,0.00,0.000000,0.000000,145.10,0.00,NaN,0.0,0.000000,0.000000,0.0
4,2000-01-17,2115.00,2115.00,1801.65,1801.65,1761.29,0.000000,0.00,0.000000,0.000000,0.00,156.65,NaN,0.0,0.000000,1.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5276,2021-03-24,971.05,984.75,965.80,975.65,968.69,684304.312381,-12.85,47.267760,50.291439,0.00,5.20,50.831117,0.0,52.732240,0.480211,0.0
5277,2021-03-25,970.00,974.50,950.00,957.05,970.55,684384.292381,-22.20,26.939891,42.386157,0.00,18.60,39.765701,0.0,73.060109,0.712245,0.0
5278,2021-03-26,965.00,975.00,953.80,958.55,970.17,685367.034762,-33.80,28.579235,34.262295,1.50,0.00,42.906100,0.0,71.420765,0.775943,0.0
5279,2021-03-30,965.00,1000.80,964.45,995.80,973.58,687199.973810,-11.45,69.289617,41.602914,37.25,0.00,51.014408,0.0,30.710383,0.137552,0.0
5280,2021-03-31,1000.00,1000.00,978.65,982.65,973.94,687807.531905,-4.80,54.918033,50.928962,0.00,13.15,42.691622,0.0,45.081967,0.812646,0.0

CALCULATING SIGNAL

In [33]:
macd=(df['Close'].ewm(span=12,adjust=False).mean()- df['Close'].ewm(span=26,adjust=False).mean())
df['Signal(10)']=macd.ewm(span=9, adjust=False).mean()

In [34]:
df

,Date,Open,High,Low,Close,5-DAY_SMA,14-DAY_WMA,Momentum,Stochastic K%,Stochastic D%,U,D,Relative_strength_index,Signal(10),Larry_William_R%,ADO,CCI
0,2000-01-11,1550.00,1725.00,1492.00,1554.45,0.00,0.000000,0.00,0.000000,0.000000,NaN,NaN,NaN,0.000000,0.000000,0.731974,0.0
1,2000-01-12,1560.00,1678.85,1560.00,1678.85,0.00,0.000000,0.00,0.000000,0.000000,124.40,0.00,NaN,1.984729,0.000000,0.000000,0.0
2,2000-01-13,1790.00,1813.20,1781.00,1813.20,0.00,0.000000,0.00,0.000000,0.000000,134.35,0.00,NaN,7.248358,0.000000,0.000000,0.0
3,2000-01-14,1958.30,1958.30,1835.00,1958.30,0.00,0.000000,0.00,0.000000,0.000000,145.10,0.00,NaN,16.589674,0.000000,0.000000,0.0
4,2000-01-17,2115.00,2115.00,1801.65,1801.65,1761.29,0.000000,0.00,0.000000,0.000000,0.00,156.65,NaN,25.460049,0.000000,1.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5276,2021-03-24,971.05,984.75,965.80,975.65,968.69,684304.312381,-12.85,47.267760,50.291439,0.00,5.20,50.831117,6.870253,52.732240,0.480211,0.0
5277,2021-03-25,970.00,974.50,950.00,957.05,970.55,684384.292381,-22.20,26.939891,42.386157,0.00,18.60,39.765701,6.660373,73.060109,0.712245,0.0
5278,2021-03-26,965.00,975.00,953.80,958.55,970.17,685367.034762,-33.80,28.579235,34.262295,1.50,0.00,42.906100,6.226152,71.420765,0.775943,0.0
5279,2021-03-30,965.00,1000.80,964.45,995.80,973.58,687199.973810,-11.45,69.289617,41.602914,37.25,0.00,51.014408,6.254193,30.710383,0.137552,0.0
5280,2021-03-31,1000.00,1000.00,978.65,982.65,973.94,687807.531905,-4.80,54.918033,50.928962,0.00,13.15,42.691622,6.346446,45.081967,0.812646,0.0

In [35]:
df['TP'] = (df['High'] + df['Low'] + df['Close']) / 3 
df['sma'] = df['TP'].rolling(10).mean()
df['mad'] = df['TP'].rolling(10).apply(lambda x: pd.Series(x).mad())
df['CCI'] = (df['TP'] - df['sma']) / (0.015 * df['mad'])

In [36]:
df.drop(columns=['TP','sma','mad'],inplace=True)

In [37]:
df

,Date,Open,High,Low,Close,5-DAY_SMA,14-DAY_WMA,Momentum,Stochastic K%,Stochastic D%,U,D,Relative_strength_index,Signal(10),Larry_William_R%,ADO,CCI
0,2000-01-11,1550.00,1725.00,1492.00,1554.45,0.00,0.000000,0.00,0.000000,0.000000,NaN,NaN,NaN,0.000000,0.000000,0.731974,NaN
1,2000-01-12,1560.00,1678.85,1560.00,1678.85,0.00,0.000000,0.00,0.000000,0.000000,124.40,0.00,NaN,1.984729,0.000000,0.000000,NaN
2,2000-01-13,1790.00,1813.20,1781.00,1813.20,0.00,0.000000,0.00,0.000000,0.000000,134.35,0.00,NaN,7.248358,0.000000,0.000000,NaN
3,2000-01-14,1958.30,1958.30,1835.00,1958.30,0.00,0.000000,0.00,0.000000,0.000000,145.10,0.00,NaN,16.589674,0.000000,0.000000,NaN
4,2000-01-17,2115.00,2115.00,1801.65,1801.65,1761.29,0.000000,0.00,0.000000,0.000000,0.00,156.65,NaN,25.460049,0.000000,1.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5276,2021-03-24,971.05,984.75,965.80,975.65,968.69,684304.312381,-12.85,47.267760,50.291439,0.00,5.20,50.831117,6.870253,52.732240,0.480211,-26.446266
5277,2021-03-25,970.00,974.50,950.00,957.05,970.55,684384.292381,-22.20,26.939891,42.386157,0.00,18.60,39.765701,6.660373,73.060109,0.712245,-84.057256
5278,2021-03-26,965.00,975.00,953.80,958.55,970.17,685367.034762,-33.80,28.579235,34.262295,1.50,0.00,42.906100,6.226152,71.420765,0.775943,-61.842740
5279,2021-03-30,965.00,1000.80,964.45,995.80,973.58,687199.973810,-11.45,69.289617,41.602914,37.25,0.00,51.014408,6.254193,30.710383,0.137552,54.537129
5280,2021-03-31,1000.00,1000.00,978.65,982.65,973.94,687807.531905,-4.80,54.918033,50.928962,0.00,13.15,42.691622,6.346446,45.081967,0.812646,73.344250

In [38]:
df=df.fillna(0)

In [39]:
df

,Date,Open,High,Low,Close,5-DAY_SMA,14-DAY_WMA,Momentum,Stochastic K%,Stochastic D%,U,D,Relative_strength_index,Signal(10),Larry_William_R%,ADO,CCI
0,2000-01-11,1550.00,1725.00,1492.00,1554.45,0.00,0.000000,0.00,0.000000,0.000000,0.00,0.00,0.000000,0.000000,0.000000,0.731974,0.000000
1,2000-01-12,1560.00,1678.85,1560.00,1678.85,0.00,0.000000,0.00,0.000000,0.000000,124.40,0.00,0.000000,1.984729,0.000000,0.000000,0.000000
2,2000-01-13,1790.00,1813.20,1781.00,1813.20,0.00,0.000000,0.00,0.000000,0.000000,134.35,0.00,0.000000,7.248358,0.000000,0.000000,0.000000
3,2000-01-14,1958.30,1958.30,1835.00,1958.30,0.00,0.000000,0.00,0.000000,0.000000,145.10,0.00,0.000000,16.589674,0.000000,0.000000,0.000000
4,2000-01-17,2115.00,2115.00,1801.65,1801.65,1761.29,0.000000,0.00,0.000000,0.000000,0.00,156.65,0.000000,25.460049,0.000000,1.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5276,2021-03-24,971.05,984.75,965.80,975.65,968.69,684304.312381,-12.85,47.267760,50.291439,0.00,5.20,50.831117,6.870253,52.732240,0.480211,-26.446266
5277,2021-03-25,970.00,974.50,950.00,957.05,970.55,684384.292381,-22.20,26.939891,42.386157,0.00,18.60,39.765701,6.660373,73.060109,0.712245,-84.057256
5278,2021-03-26,965.00,975.00,953.80,958.55,970.17,685367.034762,-33.80,28.579235,34.262295,1.50,0.00,42.906100,6.226152,71.420765,0.775943,-61.842740
5279,2021-03-30,965.00,1000.80,964.45,995.80,973.58,687199.973810,-11.45,69.289617,41.602914,37.25,0.00,51.014408,6.254193,30.710383,0.137552,54.537129
5280,2021-03-31,1000.00,1000.00,978.65,982.65,973.94,687807.531905,-4.80,54.918033,50.928962,0.00,13.15,42.691622,6.346446,45.081967,0.812646,73.344250

In [40]:
df.insert(15,'UP/DOWN',0)

In [41]:
def up(val):
    if val>0:
        return 1
    else:
        return -1

In [42]:
df['UP/DOWN']=df['Close'].diff()

In [43]:
df

,Date,Open,High,Low,Close,5-DAY_SMA,14-DAY_WMA,Momentum,Stochastic K%,Stochastic D%,U,D,Relative_strength_index,Signal(10),Larry_William_R%,UP/DOWN,ADO,CCI
0,2000-01-11,1550.00,1725.00,1492.00,1554.45,0.00,0.000000,0.00,0.000000,0.000000,0.00,0.00,0.000000,0.000000,0.000000,NaN,0.731974,0.000000
1,2000-01-12,1560.00,1678.85,1560.00,1678.85,0.00,0.000000,0.00,0.000000,0.000000,124.40,0.00,0.000000,1.984729,0.000000,124.40,0.000000,0.000000
2,2000-01-13,1790.00,1813.20,1781.00,1813.20,0.00,0.000000,0.00,0.000000,0.000000,134.35,0.00,0.000000,7.248358,0.000000,134.35,0.000000,0.000000
3,2000-01-14,1958.30,1958.30,1835.00,1958.30,0.00,0.000000,0.00,0.000000,0.000000,145.10,0.00,0.000000,16.589674,0.000000,145.10,0.000000,0.000000
4,2000-01-17,2115.00,2115.00,1801.65,1801.65,1761.29,0.000000,0.00,0.000000,0.000000,0.00,156.65,0.000000,25.460049,0.000000,-156.65,1.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5276,2021-03-24,971.05,984.75,965.80,975.65,968.69,684304.312381,-12.85,47.267760,50.291439,0.00,5.20,50.831117,6.870253,52.732240,-5.20,0.480211,-26.446266
5277,2021-03-25,970.00,974.50,950.00,957.05,970.55,684384.292381,-22.20,26.939891,42.386157,0.00,18.60,39.765701,6.660373,73.060109,-18.60,0.712245,-84.057256
5278,2021-03-26,965.00,975.00,953.80,958.55,970.17,685367.034762,-33.80,28.579235,34.262295,1.50,0.00,42.906100,6.226152,71.420765,1.50,0.775943,-61.842740
5279,2021-03-30,965.00,1000.80,964.45,995.80,973.58,687199.973810,-11.45,69.289617,41.602914,37.25,0.00,51.014408,6.254193,30.710383,37.25,0.137552,54.537129
5280,2021-03-31,1000.00,1000.00,978.65,982.65,973.94,687807.531905,-4.80,54.918033,50.928962,0.00,13.15,42.691622,6.346446,45.081967,-13.15,0.812646,73.344250

In [44]:
for i in range(0,5280):
    df['UP/DOWN'][i]=df['UP/DOWN'][i+1]
#df['UP/DOWN']=df['UP/DOWN'].apply(up)

C:\Users\Sashank\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [45]:
df1=df['UP/DOWN']

In [46]:
df1=df1.apply(up)
df['UP/DOWN']=df1
df['UP/DOWN']
df

,Date,Open,High,Low,Close,5-DAY_SMA,14-DAY_WMA,Momentum,Stochastic K%,Stochastic D%,U,D,Relative_strength_index,Signal(10),Larry_William_R%,UP/DOWN,ADO,CCI
0,2000-01-11,1550.00,1725.00,1492.00,1554.45,0.00,0.000000,0.00,0.000000,0.000000,0.00,0.00,0.000000,0.000000,0.000000,1,0.731974,0.000000
1,2000-01-12,1560.00,1678.85,1560.00,1678.85,0.00,0.000000,0.00,0.000000,0.000000,124.40,0.00,0.000000,1.984729,0.000000,1,0.000000,0.000000
2,2000-01-13,1790.00,1813.20,1781.00,1813.20,0.00,0.000000,0.00,0.000000,0.000000,134.35,0.00,0.000000,7.248358,0.000000,1,0.000000,0.000000
3,2000-01-14,1958.30,1958.30,1835.00,1958.30,0.00,0.000000,0.00,0.000000,0.000000,145.10,0.00,0.000000,16.589674,0.000000,-1,0.000000,0.000000
4,2000-01-17,2115.00,2115.00,1801.65,1801.65,1761.29,0.000000,0.00,0.000000,0.000000,0.00,156.65,0.000000,25.460049,0.000000,-1,1.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5276,2021-03-24,971.05,984.75,965.80,975.65,968.69,684304.312381,-12.85,47.267760,50.291439,0.00,5.20,50.831117,6.870253,52.732240,-1,0.480211,-26.446266
5277,2021-03-25,970.00,974.50,950.00,957.05,970.55,684384.292381,-22.20,26.939891,42.386157,0.00,18.60,39.765701,6.660373,73.060109,1,0.712245,-84.057256
5278,2021-03-26,965.00,975.00,953.80,958.55,970.17,685367.034762,-33.80,28.579235,34.262295,1.50,0.00,42.906100,6.226152,71.420765,1,0.775943,-61.842740
5279,2021-03-30,965.00,1000.80,964.45,995.80,973.58,687199.973810,-11.45,69.289617,41.602914,37.25,0.00,51.014408,6.254193,30.710383,-1,0.137552,54.537129
5280,2021-03-31,1000.00,1000.00,978.65,982.65,973.94,687807.531905,-4.80,54.918033,50.928962,0.00,13.15,42.691622,6.346446,45.081967,-1,0.812646,73.344250

In [47]:
df.drop(columns=['U','D'],inplace=True)

In [48]:
li=['5-DAY_SMA', '14-DAY_WMA',
       'Momentum', 'Stochastic K%', 'Stochastic D%',
       'Relative_strength_index', 'Signal(10)', 'Larry_William_R%', 'ADO',
       'CCI']

In [49]:
for i in li:
    df[i]=(df[i]-df[i].min())/(df[i].max()-df[i].min())

In [50]:
df['UP/DOWN'][5280]=1

C:\Users\Sashank\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [51]:
df

,Date,Open,High,Low,Close,5-DAY_SMA,14-DAY_WMA,Momentum,Stochastic K%,Stochastic D%,Relative_strength_index,Signal(10),Larry_William_R%,UP/DOWN,ADO,CCI
0,2000-01-11,1550.00,1725.00,1492.00,1554.45,0.000000,0.000000,0.571626,0.000000,0.000000,0.000000,0.552149,0.000000,1,0.731974,0.511455
1,2000-01-12,1560.00,1678.85,1560.00,1678.85,0.000000,0.000000,0.571626,0.000000,0.000000,0.000000,0.556722,0.000000,1,0.000000,0.511455
2,2000-01-13,1790.00,1813.20,1781.00,1813.20,0.000000,0.000000,0.571626,0.000000,0.000000,0.000000,0.568848,0.000000,1,0.000000,0.511455
3,2000-01-14,1958.30,1958.30,1835.00,1958.30,0.000000,0.000000,0.571626,0.000000,0.000000,0.000000,0.590368,0.000000,-1,0.000000,0.511455
4,2000-01-17,2115.00,2115.00,1801.65,1801.65,0.654322,0.000000,0.571626,0.000000,0.000000,0.000000,0.610804,0.000000,-1,1.000000,0.511455
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5276,2021-03-24,971.05,984.75,965.80,975.65,0.359870,0.666019,0.564913,0.472678,0.510985,0.514048,0.567977,0.527322,-1,0.480211,0.470877
5277,2021-03-25,970.00,974.50,950.00,957.05,0.360561,0.666097,0.560028,0.269399,0.430664,0.402145,0.567493,0.730601,1,0.712245,0.382481
5278,2021-03-26,965.00,975.00,953.80,958.55,0.360419,0.667053,0.553968,0.285792,0.348121,0.433904,0.566493,0.714208,1,0.775943,0.416566
5279,2021-03-30,965.00,1000.80,964.45,995.80,0.361686,0.668837,0.565644,0.692896,0.422706,0.515902,0.566558,0.307104,-1,0.137552,0.595135
5280,2021-03-31,1000.00,1000.00,978.65,982.65,0.361820,0.669429,0.569119,0.549180,0.517463,0.431735,0.566770,0.450820,1,0.812646,0.623992

In [52]:
y=df['UP/DOWN']

In [53]:
df.drop(columns=['Open','High','Low','Close','Date','UP/DOWN'],inplace=True)

In [54]:
X=df

In [55]:
X

,5-DAY_SMA,14-DAY_WMA,Momentum,Stochastic K%,Stochastic D%,Relative_strength_index,Signal(10),Larry_William_R%,ADO,CCI
0,0.000000,0.000000,0.571626,0.000000,0.000000,0.000000,0.552149,0.000000,0.731974,0.511455
1,0.000000,0.000000,0.571626,0.000000,0.000000,0.000000,0.556722,0.000000,0.000000,0.511455
2,0.000000,0.000000,0.571626,0.000000,0.000000,0.000000,0.568848,0.000000,0.000000,0.511455
3,0.000000,0.000000,0.571626,0.000000,0.000000,0.000000,0.590368,0.000000,0.000000,0.511455
4,0.654322,0.000000,0.571626,0.000000,0.000000,0.000000,0.610804,0.000000,1.000000,0.511455
...,...,...,...,...,...,...,...,...,...,...
5276,0.359870,0.666019,0.564913,0.472678,0.510985,0.514048,0.567977,0.527322,0.480211,0.470877
5277,0.360561,0.666097,0.560028,0.269399,0.430664,0.402145,0.567493,0.730601,0.712245,0.382481
5278,0.360419,0.667053,0.553968,0.285792,0.348121,0.433904,0.566493,0.714208,0.775943,0.416566
5279,0.361686,0.668837,0.565644,0.692896,0.422706,0.515902,0.566558,0.307104,0.137552,0.595135
5280,0.361820,0.669429,0.569119,0.549180,0.517463,0.431735,0.566770,0.450820,0.812646,0.623992

In [56]:
y

0       1
1       1
2       1
3      -1
4      -1
       ..
5276   -1
5277    1
5278    1
5279   -1
5280    1
Name: UP/DOWN, Length: 5281, dtype: int64

In [57]:
from sklearn.model_selection import train_test_split

In [58]:
 #splliting the dataset 
 X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

DECISION TREES

In [59]:
from sklearn.tree import DecisionTreeClassifier
regressor = DecisionTreeClassifier(random_state = 0) 
regressor.fit(X_train, y_train)
prediction = regressor.predict(X_test)

In [60]:
from sklearn.metrics import accuracy_score, f1_score,roc_auc_score
print('Accuracy:', accuracy_score(y_test, prediction))
print ('F1 score:', f1_score(y_test, prediction))
print ('ROC-AUC score:', roc_auc_score(y_test, prediction))

Accuracy: 0.5293375394321767
F1 score: 0.5596221959858323
ROC-AUC score: 0.5272329042019823

RANDOM FOREST

In [61]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(max_depth=10,n_estimators=200) 
clf.fit(X_train, y_train)
prediction_radndomforest = clf.predict(X_test)

In [62]:
print('Accuracy:', accuracy_score(y_test, prediction_radndomforest))
print ('F1 score:', f1_score(y_test, prediction_radndomforest))
print ('ROC-AUC score:', roc_auc_score(y_test, prediction_radndomforest))

Accuracy: 0.5242902208201893
F1 score: 0.5595794392523364
ROC-AUC score: 0.5212214856322207

AdaBoostClassifier

In [63]:
from sklearn.ensemble import AdaBoostClassifier
clf1 = AdaBoostClassifier(n_estimators=200) 
clf1.fit(X_train, y_train)
prediction_AdaBoostClassifier = clf1.predict(X_test)
print(prediction_AdaBoostClassifier)
print('Accuracy:', accuracy_score(y_test, prediction_AdaBoostClassifier))
print ('F1 score:', f1_score(y_test, prediction_AdaBoostClassifier,average='binary'))
print ('ROC-AUC score:', roc_auc_score(y_test, prediction_AdaBoostClassifier))

[ 1  1  1 ...  1 -1  1]
Accuracy: 0.5110410094637224
F1 score: 0.5378652355396543
ROC-AUC score: 0.5096931219305783

XGBoost

In [64]:
import xgboost as xgb
model=xgb.XGBClassifier(random_state=1,learning_rate=0.01)
model.fit(X_train, y_train)
prediction_xgb=model.predict(X_test)
print('Accuracy:', accuracy_score(y_test, prediction_AdaBoostClassifier))
print ('F1 score:', f1_score(y_test, prediction_AdaBoostClassifier,average='binary'))
print ('ROC-AUC score:', roc_auc_score(y_test, prediction_AdaBoostClassifier))

C:\Users\Sashank\anaconda3\envs\myenv\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
[15:19:53] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Accuracy: 0.5110410094637224
F1 score: 0.5378652355396543
ROC-AUC score: 0.5096931219305783
C:\Users\Sashank\anaconda3\envs\myenv\lib\site-packages\xgboost\data.py:114: UserWarning: Use subset (sliced data) of np.ndarray is not recommended because it will generate extra copies and increase memory consumption
  "because it will generate extra copies and increase " +

KNeighborsClassifier

In [65]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=7)
model.fit(X_train,y_train)
predicted_K= model.predict(X_test) 
print('Accuracy:', accuracy_score(y_test, predicted_K))
print ('F1 score:', f1_score(y_test, predicted_K))
print ('ROC-AUC score:', roc_auc_score(y_test, predicted_K))

Accuracy: 0.5110410094637224
F1 score: 0.5322872661436331
ROC-AUC score: 0.5107269480810904

LogisticRegression

In [66]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(X_train,y_train)
predicted_LogisticRegression= model.predict(X_test)
print('Accuracy:', accuracy_score(y_test, predicted_LogisticRegression))
print ('F1 score:', f1_score(y_test, predicted_LogisticRegression))
print ('ROC-AUC score:', roc_auc_score(y_test, predicted_LogisticRegression))

Accuracy: 0.5381703470031546
F1 score: 0.5788262370540851
ROC-AUC score: 0.5338501929808814